extends layout

block content
  h1 nitpicker
  p Welcome to nitpicker

  .statusDashboard
    #prodStatus.statusBox
      .statusHeading 
        a Production
        span= prodMessage
        img(src=(prodOk ? "/images/status/green.png" : "/images/status/red.png"))

    #sandboxStatus.statusBox
      .statusHeading 
        a Sandbox
        span= sandboxMessage
        img(src=(sandboxOk ? "/images/status/green.png" : "/images/status/red.png"))

  #timeline
    each event in events
      ul
        li Event: 
          = event.description

  #log
    each result in results
      ul
        li Test Result: 
          = result.testId 
          |  | Response time: 
          = result.responseTime
          |  ms