doctype html
html
  head
    title nitpicker
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/modernizr.js')
    
  body
    block content
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/fastclick.js')
    script(src='/javascripts/foundation.min.js')
    script 
      |   $(document).foundation({tab: { callback : function (tab) {console.log(tab);}}});